/* Шрифты */

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
}

/* Общие */

body {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 944px;
  margin: 0 auto;
  padding: 0 29px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Шапка */

header {
  margin-bottom: 106px;
}

hr {
  max-width: 100%;
}

.navigation__main {
  display: flex;
  justify-content: space-between;
  padding-top: 34px;
  margin-bottom: 32px;
}

hr {
  border-bottom: 1px solid #828282;
  width: 941px;
}

.navigation__link {
  font-weight: bold;
  color: #828282;
  font-size: 18px;
  line-height: 22px;
}

.navigation__link:hover {
  color: black;
}

h1 {
  width: 124px;
  font-size: 47px;
  line-height: 59px;
}

.header__fix {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}

.header__paragraph {
  width: 166px;
  align-self: flex-end;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: black;
  margin-right: 26px;
  margin-bottom: 16px;
}

.header__paragraph--switcher {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(-90deg);
  width: 82px;
  margin-bottom: 27px;
  margin-right: -29px;
}

.header__paragraph--switcher-active {
  color: black;
}

.header__paragraph--switcher-inactive {
  color: #828282;
}

.header__image-main {
  padding-top: 55px;
  max-width: 100%;
  height: auto;
}

.header__image-main--mobile {
  display: none;
}

/* сэндвич */

.nav-button {
  display: none;
}

.nav__line {
  display: block;
  height: 4px;
  width: 33px;
  background: black;
  top: 47px;
}

.nav__line::after, .nav__line::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: black;
  transition: 0.2s;
}

.nav__line--open {
  display: block;
  height: 4px;
  width: 33px;
  background: rgb(255, 255, 255);
  top: 47px;
  transition: 0.3s ease 0s;
}

.nav__line--open::before {
  transform: rotate( 45deg);
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: black;
  transition: 0.3s ease 0s;
}

.nav__line--open::after {
  transform: rotate( -45deg);
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: black;
  transition: 0.3s ease 0s;
}

.nav__line::after {
  top: -10px;
}

.nav__line::before {
  bottom: -10px;
}

/* section - 1 */

h2 {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
}

.about-me {
  background-color: #f6f6f6;
  height: 506px;
  width: 100%;
}

.about-me__info {
  font-size: 18px;
  line-height: 22px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}

/* section - 2 */

.about-me__title {
  padding-top: 91px;
}

.skills_paragraph {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  justify-content: space-between;
  margin-bottom: 112px;
}

.skills__list-paragraph {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.skills__list-item {
  text-align: center;
}

.skills__list-stars {
  padding-left: 11px;
}

.first--star {
  padding-left: 0;
}

/* section - 3 */

.portfolio {
  background: #f6f6f6;
  /* height: 2253px; */
}

.portfolio__list {
  text-align: center;
}

.portfolio__list-item {
  padding-bottom: 10px;
}

.portfolio__link-image {
  padding-bottom: 20px;
}

.portfolio__link {
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  display: block;
  padding-top: 25px;
  padding-bottom: 100px;
  color: black;
  text-align: center;
}

.portfolio__link:hover {
  color: #828282;
  transition: color .2s linear
}

.portfolio__image {
  max-width: 100%;
}

/* footer */

.footer__slogan {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  width: 275px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.footer__button {
  font-size: 18px;
  line-height: 22px;
  background: #070707;
  color: white;
  width: 180px;
  display: block;
  text-align: center;
  padding: 13px;
  border-radius: 25px;
  margin: 0 auto;
}

.footer__button:hover {
  background-color: #828282;
}

.footer__list {
  display: flex;
  justify-content: center;
  padding-top: 86px;
  padding-bottom: 46px;
}

.footer__list-item {
  padding-left: 62px;
}

.footer__slogan-down {
  color: #828282;
  text-align: center;
  width: 243px;
  margin: 0 auto;
  padding-bottom: 130px;
}

/* адаптив */

@media (max-width: 850px) {
  .skills__list {
    justify-content: center;
    flex-direction: column;
  }
  .skills__list-item {
    padding-bottom: 82px;
  }
}

@media (max-width: 410px) {
  .footer__list-item {
    padding-left: 32px;
  }
}

@media (max-width: 475px) {
  .header__image-main--mobile {
    display: block;
    margin: 0 auto;
    height: auto;
    padding-top: 40px;
    width: 100%;
  }

  .navigation__main, hr, .header__paragraph--switcher, .header__image-main {
    display: none;
  }
  .header__fix {
    flex-direction: column;
  }
  .header__paragraph {
    align-self: auto;
  }
  h1 {
    padding-bottom: 30px;
  }
  .nav-button {
    display: block;
    position: absolute;
    right: 30px;
    top: 74px;
  }
  .navigation__link {
    font-weight: bold;
    color: #828282;
    font-size: 34px;
    line-height: 42px;
  }
  .navigation__main {
    justify-content: start;
  }
  .navigation__item {
    padding-bottom: 70px;
  }
  /* .navigation__main {
  display: none;
}  */
  .navigation--mobile {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100%;
    padding-top: 66px;
    padding-left: 26px;
    padding-bottom: 40vh;
  }
  .position {
    position: fixed;
  }
